#hero .carousel-item{
    height: 500px;
    overflow: hidden;
}

#hero .carousel-item img{
    position: relative;
    z-index: -1;
}

.my-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to top, rgba(0,0,0,.8) 20%, rgba(0,0,0,0) 67%);

    display: flex;
    align-items: center;
}

.custom-card {
    -webkit-perspective: 150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    width: 250px;
    height: 330px
}

.card__side {
    height:330px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__side--front {
    background: #fff;
}

.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: linear-gradient(-45deg, #326789, #76a8cb);
}


.custom-card:hover .card__side--front{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.custom-card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.table th{
    width: 2rem;
    color: #fff;
}

.table td{
    color: #fff;
}

.custom-btn, .custom-btn:link, .custom-btn:visited {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
}

.custom-btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.custom-btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.custom-btn:active, .custom-btn:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--white::after {
    background-color: #fff;
}

.truncate-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 136px;
}